body {
margin: 0;
padding: 0;
font-family: Roboto, sans-serif;
}

.hero-section {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 10px 0;
}

.header ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.hero-content {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 960px;
    margin: 0 auto;
    padding: 100px 0 120px 0;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px 0 16px 0;
}

.sign-up {
   background-color: #3882F8; 
   font-size: 18px;
   color: #E5E7EB;
   padding: 6px 24px;
   border-radius: 7px;
   border: none;
}

/* Information section */

.info-section {
    margin-bottom: 50px;
}

h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.gallery {
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtext {
    text-align: center;
    width: 125px;
    font-size: 12px;
}

.gallery-img {
    height: 125px;
    width: 125px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

/* Quote section */

.quote-section {
    background-color:#E5E7EB;
}

.quote-content {
    max-width: 700px;
    margin: 50px auto;
    padding: 50px 0 70px 0;
}

.quote-content p {
    font-size: 32px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 0;
    padding-left: 20px;
}

.credit {
    text-align: right;
    padding-right: 30px;
    padding-top: 5px;
    font-weight: 700;
    font-size: 18px;
}

/* CTA Section */

.cta-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    padding-top: 30px;
}

.cta {
    width: 960px;
    background-color: #3882F6;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    color: #F9FAF8;
    padding: 30px 0;
}

.cta .sign-up {
    border: 2px solid #F9FAF8;
}

.cta-info p {
    margin: 0;
    font-weight: 300;
    font-size: 14px;
}

h3 {
    margin: 5px 0;
}