body {
margin: 0;
padding: 0;
font-family: Roboto, sans-serif;
}

.hero-section {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 10px 0;
}

.header ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.hero-content {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 960px;
    margin: 0 auto;
    padding: 100px 0 120px 0;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px 0 16px 0;
}

.sign-up {
   background-color: #3882F8; 
   font-size: 18px;
   color: #E5E7EB;
   padding: 6px 24px;
   border-radius: 10px;
   border: none;
}

/* Information section */

.info-section {
    margin-bottom: 50px;
}

h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.gallery {
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtext {
    text-align: center;
    width: 125px;
    font-size: 12px;
}

.gallery-img {
    height: 125px;
    width: 125px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

